p{
    border: 10px;
    border-color: rgb(16, 17, 17);
    color: blue;
}
h1{
    color: aqua;
    border: 12px;
    border-color: blue;
}
em{
    color:brown ;
}
button{
    color: rgb(190, 185, 178);
    border-color: blue;
    padding: 50px;
    background-color: black;
    border-radius: 25px;
}